# Database creation

**Imports & Connection**

In [91]:
import pymysql

### Establishing MySQL Server Connection

In [92]:
# Open the connection to the database 
conn = pymysql.connect(host="localhost",           
                             user="root",             
                             passwd="",   
                             #db="meme_project4", # name of the db
                             autocommit=True,
                             cursorclass=pymysql.cursors.DictCursor)

### Creating the database

In [93]:
db_name = 'test'

In [94]:
# creating database 
cur = conn.cursor()

cur.execute(f"CREATE DATABASE {db_name}") 
  
cur.execute("SHOW DATABASES")
databaseList = cur.fetchall()
  
for database in databaseList:
  print(database)
    
#conn.close()

{'Database': 'information_schema'}
{'Database': 'meme_project'}
{'Database': 'meme_project2'}
{'Database': 'meme_project3'}
{'Database': 'meme_project4'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}
{'Database': 'test'}

### Connecting the new database

In [95]:
# Open the connection to the database 
conn = pymysql.connect(host="localhost",           
                             user="root",             
                             passwd="",   
                             db=db_name, # name of the db
                             autocommit=True,
                             cursorclass=pymysql.cursors.DictCursor)

### Creating Tables

In [103]:
table_query_full = """
# Dump of table base_memes
# ------------------------------------------------------------

CREATE TABLE `base_memes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `base_meme` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;



# Dump of table captions
# ------------------------------------------------------------

CREATE TABLE `captions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `text_position` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `text` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `meme_id` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;

# Dump of table language_names
# ------------------------------------------------------------

CREATE TABLE `language_names` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `language_id` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;



# Dump of table languages
# ------------------------------------------------------------

CREATE TABLE `languages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `std_english_name` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;



# Dump of table memes
# ------------------------------------------------------------

CREATE TABLE `memes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `base_meme_id` int NOT NULL,
  `archived_url` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;



# Dump of table sentiments
# ------------------------------------------------------------

CREATE TABLE `sentiments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `score` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;



# Dump of table words
# ------------------------------------------------------------

CREATE TABLE `words` (
  `id` int NOT NULL AUTO_INCREMENT,
  `word` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `caption_id` int NOT NULL,
  `words_in_language_id` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;



# Dump of table words_in_language
# ------------------------------------------------------------

CREATE TABLE `words_in_language` (
  `id` int NOT NULL AUTO_INCREMENT,
  `word` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `language_id` int DEFAULT NULL,
  `sentiment_id` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
"""

In [104]:
table_queries = table_query_full.split(';')

In [98]:
with conn.cursor() as cur:
    
    for query in table_queries[:-1]:
        # To execute the SQL query
        cur.execute(query)   

        # To commit the changes
        conn.commit()

### Close Server Connection

In [ ]:
conn.close()